[submodule "src/3rdparty/libprofile-qt"]
	path = src/3rdparty/libprofile-qt
	url = https://github.com/nemomobile/libprofile-qt.git
[submodule "src/3rdparty/libdsme"]
	path = src/3rdparty/libdsme
	url = https://github.com/nemomobile/libdsme.git
[submodule "src/3rdparty/mce-dev"]
	path = src/3rdparty/mce-dev
	url = https://github.com/nemomobile/mce-dev.git
[submodule "src/3rdparty/libiphb"]
	path = src/3rdparty/libiphb
	url = https://github.com/nemomobile/libiphb.git
[submodule "src/3rdparty/nemo-keepalive"]
	path = src/3rdparty/nemo-keepalive
	url = https://github.com/SfietKonstantin/nemo-keepalive.git
